@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "retrogaming";
  src: url("/assets/fonts/retrogaming.ttf");
}

@font-face {
  font-family: "retro";
  src: url("/assets/fonts/retro.ttf");
}

@font-face {
  font-family: "retrotech";
  src: url("/assets/fonts/RETROTECH.ttf");
}

.retrogaming {
  font-family: "retrogaming";
}

.retro {
  font-family: "retro";
}

.retrotech {
  font-family: "retrotech";
}

.list-item-hover:hover {
}

.dropdown > li {
  cursor: pointer;
  padding: 1rem 1rem;
  border: 1px solid black;
}

.dropdown {
  box-shadow: 5px 5px 2px black;
}

.dropdown > li:hover {
  background: black;
  color: white;
}

.dropDownHeader {
  border: 1px solid #010180;
}

.dropDownHeader:hover {
  background: #c0c0c0;
  color: black;
  box-shadow: inset 5px 5px black;
  border: 1px solid white;
} */
